<template>
  <div class="row">
    <div class="col-md-3">
      <select v-model="tipo_identificacion" class="form-control" :name="prefix + 'tipo_identificacion'">
        <option value="">--- SELECCIONE ---</option>
        <option value="1">Cedula</option>
        <option value="2">Pasaporte</option>
      </select>
    </div>
    <div class="col-md-9">
      <!-- Cedula -->
      <div v-if="tipo_identificacion === '1'" class="input-group">
        <input
          v-model="tomo"
          class="form-control"
          size="3"
          type="text"
          :name="prefix + 'tomo'"
          placeholder="Tomo"
        >
        <span class="input-group-addon">-</span>
        <input
          v-model="folio"
          class="form-control"
          size="4"
          type="text"
          :name="prefix + 'folio'"
          placeholder="Folio"
        >
        <span class="input-group-addon">-</span>
        <input
          v-model="asiento"
          class="form-control"
          type="text"
          :name="prefix + 'asiento'"
          placeholder="Asiento"
        >
      </div>
      <!-- Pasaporte -->
      <div v-else-if="tipo_identificacion === '2'">
        <input
          v-model="pasaporte"
          class="form-control"
          type="text"
          :name="prefix + 'pasaporte'"
        >
      </div>
    </div>
  </div>
</template>

<script>
module.exports = {
  data: () => {
    return {
    };
  },
  props: {
    tipo_identificacion: {
      default: "",
    },
    tomo: {},
    folio: {},
    asiento: {},
    pasaporte: {},
    prefix: {
      default: "",
    },
  },
};
</script>